<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1>User</h1>

<p th:text="${user.id}">id</p>

<p th:text="${user.name}">name</p>

<p th:text="${user.age}">age</p>

<p th:text="${user.surname}">surname</p>

<p th:text="${user.mail}">mail</p>

<p th:text="${user.password}">password</p>




<!--<a th:href="@{/users/{id}/edit(id=${user.id})}"> Edit! </a>-->

<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
    <input type="submit" value="Delete"/>-->

<!--</form>-->

</body>
</html>l>